PORT=5000
MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster0.mongodb.net/podium-arena
JWT_SECRET=troque_por_uma_chave_secreta_longa
JWT_EXPIRES_IN=7d
NODE_ENV=development
GOOGLE_CLIENT_ID=SEU_CLIENT_ID_AQUI
